@font-face {
  font-family: "pilcrow";
  src: url("../assets/pilcrow-font-family-1693041058-0/Pilcrow-Variable-BF64dd8809063b6.ttf");
  font-family: "azonix";
  src: url("../assets/azonix/Azonix.otf");
}
:root {
  --previous-section-divider-offset: 0px;
  --normal-text-size-value: 1.25;
  --regular-article-padding-top-value: 11.35;
  --large-article-padding-top-value: 0.75;
}
body {
  margin: 0 auto;
}
h1 {
  font-size: calc((var(--normal-text-size-value) - 1) * 1.2vw + 3rem);
  margin: 0 0 3vh 0;
  font-family: "azonix", sans-serif;
}
h2 {
  font-size: calc((var(--normal-text-size-value) - 1) * 1.2vw + 1.75rem);
  margin: 0;
  font-family: "azonix", sans-serif;
}
h3 {
  font-size: calc((var(--normal-text-size-value) - 1) * 1.2vw + 1.5rem);
  font-family: "azonix", sans-serif;
}
h4 {
  font-size: calc((var(--normal-text-size-value) - 1) * 1.2vw + 1.2rem);
  font-family: "azonix", sans-serif;
  margin: 1.5vh 0;
}
p {
  font-size: calc((var(--normal-text-size-value) - 1) * 1.2vw + 0.9rem);
  font-family: "pilcrow", sans-serif;
}
a,
button {
  font-family: "pilcrow", sans-serif;
  &:hover {
    opacity: 0.6;
  }
}
a {
  font-size: calc((var(--normal-text-size-value) - 1) * 1.2vw + 0.9rem);
}
input:focus,
textarea:focus {
  outline: 1px solid #ce130c;
}
.regular-button {
  padding: 1.9em 3.173em;
  background-color: #ce130c;
  border: none;
  border-radius: 50px;
  color: white;
  font-weight: 600;
}
.slider-section {
  align-items: flex-end;
  min-height: 66vh;
}
.shopCart-section {
  margin-top: -3vw;
  .super-cart-container {
    .empty-cart {
    }
    .cart-container {
      .cart-row {
        border-bottom: 1px solid hsla(0, 0%, 39%, 0.2);
        display: flex;
        justify-content: flex-start;
        min-height: 70px;
        padding: 22px 0;
        width: 100%;
        box-sizing: border-box;
        .image-wrapper {
          width: 15%;
          margin-right: 3vw;
          img {
            width: 100%;
            aspect-ratio: 1/1;
          }
        }
        .product-name-size-wrapper {
          width: 50%;
        }
        .product-info-wrapper {
          width: 35%;
          display: flex;
          align-items: flex-start;
          .product-price-wrapper {
            display: flex;
            justify-content: flex-end;
            width: 60%;
            align-items: center;
          }
          .product-quantity-container {
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 20%;
            .quantity {
              width: 35px;
              border: none;
              text-align: center;
              line-height: 22px;
              font-size: 16px;
              &:focus {
                outline: none;
              }
            }
          }
          .button-remove-wrapper {
            margin-left: 22px;
          }
        }
        button {
          border: none;
          background-color: transparent;
          width: 36px;
          aspect-ratio: 1/1;
          text-align: center;
          font-size: 22px;
          display: flex;
          justify-content: center;
          align-items: center;
          &:hover {
            background-color: #a9a9a9;
            border-radius: 50%;
          }
        }
      }
    }
  }
}

.shop-section {
  background-color: #edecea;
}
section {
  min-height: 60vh;
  display: flex;
  position: relative;
  box-sizing: border-box;
  z-index: 0;
  .product-item-additional {
    margin-top: 5vw;
    padding-top: 0;
    .features-wrapper {
      padding: 17px;
    }
  }
  .product-item-summary {
    align-items: flex-start;
    min-height: auto;
    .label {
      margin-bottom: 0.5em;
      font-size: calc((var(--normal-text-size-value) - 1) * 1.2vw + 0.65rem);
    }
    .product-item-gallery {
      display: flex;
      justify-content: center;
      width: 38%;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: 50% 50%;
      }
    }
    .product-item-description {
      width: 62%;
      display: flex;
      flex-direction: column;
      padding: 60px 0 0 4vw;
      .product-price-wrapper {
        margin-bottom: 25px;
        font-weight: 600;
        font-size: calc((var(--normal-text-size-value) - 1) * 1.2vw + 1.5rem);
      }
      .product-description-wrapper {
        display: block;
        margin-bottom: 40px;
        font-size: calc((var(--normal-text-size-value) - 1) * 1.2vw + 1rem);
        font-weight: 600;
      }
      .product-size-wrapper {
        .variant-option {
          margin-bottom: 40px;
          display: inline-block;
          box-sizing: border-box;
          width: 100%;
          .variant-select-wrapper {
            width: 50%;
            select {
              padding: 1.5rem;
              background: transparent;
              border: 1px solid currentColor;
              width: 100%;
              font-size: calc((var(--normal-text-size-value) - 1) * 1.2vw + 0.7rem);
              border: 1px solid #a9a9a9;
            }
          }
        }
      }
      .product-quantity-wrapper {
        margin-bottom: 40px;
        input {
          text-align: left;
          box-sizing: border-box;
          padding: 1.5rem 1rem;
          width: 68px;
          border: 1px solid #a9a9a9;
          line-height: normal;
          margin: 0;
          font-size: 100%;
          background-color: transparent;
        }
      }
    }
  }
  .section-border {
    position: absolute;
    top: calc(-1 * var(--previous-section-divider-offset, 0px));
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    .section-background {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      overflow: hidden;
      .all-items-container {
        display: flex;
        transition-duration: 1700ms;
        transition-timing-function: ease-in-out;
        width: 100vw;
        .slider-item {
          object-fit: cover;
          width: 100vw;
          // width: 100%;
          min-height: 66vh;
          opacity: 0.95;
          // height: 100%;
          object-fit: cover;
          filter: contrast(70%) grayscale(100%);
        }
      }
    }
  }
  .content-wrapper {
    padding-left: 3vw;
    padding-right: 3vw;
    z-index: 4;
    width: 100%;
    box-sizing: content-box;
    margin: 0 auto;
    padding-top: 6.6vmax;
    padding-bottom: 6.6vmax;
    .content {
      width: 100%;
      .html-block {
        padding-left: 17px;
        padding-right: 17px;
      }
      .error-fied {
        background-color: #fed9db;
        color: #ce130c;
        padding: 5px 0px;
        text-align: center;
        opacity: 0.75;
        font-weight: bold;
      }
      .form-sended-wrapper {
        display: flex;
        justify-content: center;
        text-align: center;
        font-size: calc((var(--normal-text-size-value) - 1) * 1.2vw + 0.9rem);
      }
      .remark {
        font-weight: 600;
        color: whitesmoke;
        display: flex;
        align-items: flex-end;
        width: 75%;
        min-height: 144px;
        text-shadow: 2vw 0 2vw black;
      }
      .newsletter-block {
        padding-top: 0px;
        padding-bottom: 17px;
        form {
          text-align: center;
          .newsletter-header {
            width: 85%;
            margin: 0 auto;
            h2 {
              margin: 0 0 1rem 0;
              padding: 0;
              text-align: inherit;
            }
            p {
              margin: 1rem 0;
              padding: 0;
            }
          }
          .newsletter-form-body {
            .newsletter-form-fields-wrapper {
              display: inline-block;
              width: auto;
              margin: 1rem 0 0 0;
              .newsletter-form-field-wrapper {
                display: block;
                width: 100%;
                max-width: 18rem;
                padding: 0.5rem 0;
                input {
                  padding: 1.4rem 2rem;
                  line-height: 1.2rem;
                  font-size: calc((var(--normal-text-size-value) - 1) * 1.2vw + 0.8rem);
                  border: 1px solid rgba(0, 0, 0, 0.12);
                }
              }
            }
            .newsletter-button-wrapper {
              display: block;
              padding: 0.5rem 0;
              margin: 1rem 0 0 0;
            }
          }
        }
      }
      .lessons-block {
        padding-top: 17px;
        padding-bottom: 17px;
        figure {
          display: flex;
          justify-content: space-between;
          margin: 0;
          p {
            font-size: calc((var(--normal-text-size-value) - 1) * 1.2vw + 0.95rem);
          }
          .intr {
            min-width: calc(50% - 5%);
            .block-image {
              position: relative;
              max-width: initial;
              .image-container {
                position: relative;
                overflow: hidden;
                img {
                  display: block;
                  object-fit: contain;
                  width: 100%;
                  height: auto;
                  position: static;
                }
              }
            }
          }

          figcaption {
            margin-left: 10%;
            display: flex;
            justify-content: center;
            align-items: center;
            .image-card-container {
              position: relative;
              width: 100%;
              p {
                line-height: 1.5em;
              }
            }
          }
        }
        .iframe-wrapper {
          padding-top: 3.3vmax;
          display: flex;
          justify-content: center;
          align-items: center;
          iframe {
            aspect-ratio: 16/9;
            width: 50vw;
          }
        }
      }
      .contact {
        .contact-container {
          display: flex;
          .left-side-contact {
            width: 50%;
            .block-content {
              width: 75%;
            }
            .social-wrapper {
              display: flex;
              a {
                display: flex;
                align-items: center;
                margin-right: 1.2vw;
                img {
                  max-width: 36px;
                }
              }
            }
          }
          .right-side-contact {
            width: 50%;
            .form-wrapper {
              .field-list {
                fieldset {
                  padding: 0;
                  border: 0;
                  column-gap: 10px;
                  display: flex;
                  flex-direction: row;
                  .field-first-name {
                    width: 50%;
                    label {
                      opacity: 0.5;
                    }
                  }
                  .field-last-name {
                    width: 50%;
                    label {
                      opacity: 0.5;
                    }
                  }
                }
                .field-email {
                  width: 100%;
                }
                .forspan {
                  align-items: center;
                  column-gap: 1ex;
                  display: flex;
                  flex-wrap: wrap;
                }
                legend {
                  padding-bottom: 4px;
                  padding-left: 0;
                  font-size: calc((var(--normal-text-size-value) - 1) * 1.2vw + 1rem);
                }
                input,
                textarea {
                  background-color: #fafafa;
                  border: 1px solid #a9a9a9;
                  box-sizing: border-box;
                  color: #000;
                  position: relative;
                  width: 100%;
                  padding: 1.2rem 2rem;
                  font-size: calc((var(--normal-text-size-value) - 1) * 1.2vw + 0.8rem);
                }
                textarea {
                  min-height: 100px;
                  resize: vertical;
                }
                .field {
                  margin: 0 0 18px;
                }
                label {
                  font-size: calc((var(--normal-text-size-value) - 1) * 1.2vw + 0.8rem);
                }
              }
            }
          }
        }
      }
      .shop-content-wrapper {
        width: 100%;
        h2 {
          text-align: center;
          font-size: calc((var(--normal-text-size-value) - 1) * 5vw + 2rem);
        }
        .product-flex-container {
          display: flex;
          flex-direction: column;
          justify-content: center;
          width: 100%;
          align-items: center;
          .list-grid {
            display: grid;
            grid-template-columns: repeat(2, minmax(0, 1fr));
            grid-column-gap: 2vw;
            grid-row-gap: 2vw;
            padding: 0;
          }
          .product {
            .product-prise-name-wrapper {
              padding-bottom: 3vh;
              .product-name {
                font-weight: 600;
              }
              .product-prise {
                font-size: calc((var(--normal-text-size-value) - 1) * 1vw + 0.6rem);
              }
            }
            a {
              text-decoration: none;
              color: #000;
            }
            .product-image-wrapper {
              width: 100%;
              position: relative;
              overflow: hidden;
              margin: 0;
              line-height: 0;
              img {
                width: 100%;
                background-color: white;
                aspect-ratio: 16/9;
                object-fit: cover;
                background-color: transparent;
              }
            }
          }
        }
        .nested-category-children {
          padding-bottom: 54px;
          padding-top: 54px;
          padding-left: 0;
          margin-bottom: 37px;
          margin-top: 0;
          text-align: center;
          display: flex;
          flex-wrap: wrap;
          flex-direction: row;
          align-content: center;
          position: relative;
          justify-content: center;
          li {
            display: flex;
            text-align: center;
            padding: 5px 0px;
            a {
              margin: 0 1.5vw;
              text-decoration: none;
              cursor: pointer;
              color: #000;
            }
            span {
              opacity: 0.2;
            }
          }
        }
        .nested-category-children::after {
          content: "";
          opacity: 0.2;
          border-bottom: 1px solid;
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
        }
      }
    }
  }
}

@media screen and (max-width: 620px) {
  .shopCart-section {
    .super-cart-container {
      .empty-cart {
      }
      .cart-container {
        .cart-row {
          .image-wrapper {
            margin-right: 5px;
            width: 30%;
            min-width: 70px;
            img {
              width: 100%;
              aspect-ratio: 1/1;
            }
          }
          .product-name-size-wrapper {
            width: 35%;
          }
          .product-info-wrapper {
            width: 55%;
            .product-quantity-container {
              width: 40%;
            }
            .button-remove-wrapper {
              margin-left: 12px;
            }
            .product-price-wrapper {
              width: 40%;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  section {
    .product-item-summary {
      display: block;
      .product-item-gallery {
        width: 100%;
      }
    }
    .content-wrapper {
      .content {
        .lessons-block {
          .iframe-wrapper {
            iframe {
              width: 75vw;
            }
          }
          figure {
            display: block;
            figcaption {
              margin-left: 0;
              margin-top: 10%;
            }
          }
        }
        .contact {
          .contact-container {
            display: block;
            .left-side-contact {
              width: 100%;
              .block-content {
                width: 100%;
              }
            }
            .right-side-contact {
              width: 100%;
              margin-top: 5vh;
            }
          }
        }
        .shop-content-wrapper {
          .product-flex-container {
            .list-grid {
              display: block;
            }
          }
        }
      }
    }
  }
}
