@font-face {
  font-family: "pilcrow";
  src: url("../assets/pilcrow-font-family-1693041058-0/Pilcrow-Variable-BF64dd8809063b6.ttf");
  font-family: "azonix";
  src: url("../assets/azonix/Azonix.otf");
}
:root {
  --previous-section-divider-offset: 0px;
  --normal-text-size-value: 1.25;
  --regular-article-padding-top-value: 11.35;
  --large-article-padding-top-value: 0.75;
}

body {
  margin: 0 auto;
}

h1 {
  font-size: calc((var(--normal-text-size-value) - 1) * 1.2vw + 2.35rem);
  margin: 0 0 3vh 0;
  font-family: "azonix", sans-serif;
}

h2 {
  font-size: calc((var(--normal-text-size-value) - 1) * 1.2vw + 1.75rem);
  margin: 0;
  font-family: "azonix", sans-serif;
}

h3 {
  font-size: calc((var(--normal-text-size-value) - 1) * 1.2vw + 1.5rem);
  font-family: "azonix", sans-serif;
}

h4 {
  font-size: calc((var(--normal-text-size-value) - 1) * 1.2vw + 1.2rem);
  font-family: "azonix", sans-serif;
  margin: 1.5vh 0;
}

p {
  font-size: calc((var(--normal-text-size-value) - 1) * 1.2vw + 0.9rem);
  font-family: "pilcrow", sans-serif;
}

a,
button {
  font-family: "pilcrow", sans-serif;
}
a:hover,
button:hover {
  opacity: 0.6;
}

a {
  font-size: calc((var(--normal-text-size-value) - 1) * 1.2vw + 0.9rem);
}

.filtered {
  filter: contrast(70%) grayscale(100%);
}

input:focus,
textarea:focus {
  outline: 1px solid #ce130c;
}

.regular-button {
  padding: 2vmax 2.5vmax;
  background-color: #ce130c;
  border: none;
  border-radius: 50px;
  color: white;
  font-weight: 600;
  font-size: calc((var(--normal-text-size-value) - 1) * 1.2vmax + 0.65rem);
}
.regular-button:disabled {
  background-color: #edecea;
  color: #000;
}

.logout-button-wrapper {
  padding: 1vw;
  display: block;
  text-align: center;
}
.logout-button-wrapper p {
  font-size: calc((var(--normal-text-size-value) - 1) * 1.2vw + 0.65rem);
}

.super-cart-container .cart-container .create-order-wrapper {
  display: block;
  width: 100%;
  text-align: end;
}
.super-cart-container .cart-container .cart-row {
  border-bottom: 1px solid hsla(0, 0%, 39%, 0.2);
  display: flex;
  justify-content: flex-start;
  min-height: 70px;
  padding: 22px 0;
  width: 100%;
  box-sizing: border-box;
}
.super-cart-container .cart-container .cart-row .image-wrapper {
  width: 17%;
  margin-right: 3%;
}
.super-cart-container .cart-container .cart-row .image-wrapper img {
  width: 100%;
  aspect-ratio: 1/1;
}
.super-cart-container .cart-container .cart-row .product-info-wrapper {
  width: 60%;
  display: flex;
  align-items: baseline;
}
.super-cart-container .cart-container .cart-row .product-info-wrapper .product-name-size-wrapper {
  width: 65%;
}
.super-cart-container .cart-container .cart-row .product-info-wrapper .product-name-size-wrapper .product-name-wrapper {
  font-size: 20px;
  margin-bottom: 1vw;
}
.super-cart-container .cart-container .cart-row .product-info-wrapper .product-quantity-container {
  display: flex;
  align-items: center;
  width: 35%;
  justify-content: center;
}
.super-cart-container .cart-container .cart-row .product-info-wrapper .product-quantity-container .quantity {
  width: 35px;
  border: none;
  text-align: center;
  line-height: 22px;
  font-size: 20px;
}
.super-cart-container .cart-container .cart-row .product-info-wrapper .product-quantity-container .quantity:focus {
  outline: none;
}
.super-cart-container .cart-container .cart-row .product-price-wrapper {
  width: 10%;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.super-cart-container .cart-container .cart-row .button-remove-wrapper {
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: baseline;
}
.super-cart-container .cart-container .cart-row button {
  border: none;
  background-color: transparent;
  width: 36px;
  aspect-ratio: 1/1;
  text-align: center;
  font-size: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.super-cart-container .cart-container .cart-row button:hover {
  background-color: #a9a9a9;
  border-radius: 50%;
}

section {
  display: flex;
  position: relative;
  box-sizing: border-box;
  z-index: 0;
  min-width: 325px;
}
section .product-item-additional {
  margin-top: 5vw;
  padding-top: 0;
}
section .product-item-additional .features-wrapper {
  padding: 17px;
}
section .product-item-summary {
  align-items: flex-start;
  min-height: auto;
}
section .product-item-summary .label {
  margin-bottom: 0.5em;
  font-size: calc((var(--normal-text-size-value) - 1) * 1.2vw + 0.65rem);
}
section .product-item-summary .product-item-gallery {
  display: flex;
  justify-content: center;
  width: 38%;
}
section .product-item-summary .product-item-gallery img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: 50% 50%;
}
section .product-item-summary .product-item-description {
  width: 62%;
  display: flex;
  flex-direction: column;
  padding: 60px 0 0 4vw;
}
section .product-item-summary .product-item-description .product-price-wrapper {
  margin-bottom: 25px;
  font-weight: 600;
  font-size: calc((var(--normal-text-size-value) - 1) * 1.2vw + 1.5rem);
}
section .product-item-summary .product-item-description .product-description-wrapper {
  display: block;
  margin-bottom: 40px;
  font-size: calc((var(--normal-text-size-value) - 1) * 1.2vw + 1rem);
  font-weight: 600;
}
section .product-item-summary .product-item-description .product-size-wrapper .variant-option {
  margin-bottom: 40px;
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
}
section .product-item-summary .product-item-description .product-size-wrapper .variant-option .variant-select-wrapper {
  width: 50%;
}
section .product-item-summary .product-item-description .product-size-wrapper .variant-option .variant-select-wrapper select {
  padding: 1.5rem;
  background: transparent;
  border: 1px solid currentColor;
  width: 100%;
  font-size: calc((var(--normal-text-size-value) - 1) * 1.2vw + 0.7rem);
  border: 1px solid #a9a9a9;
}
section .product-item-summary .product-item-description .product-quantity-wrapper {
  margin-bottom: 40px;
}
section .product-item-summary .product-item-description .product-quantity-wrapper input {
  text-align: left;
  box-sizing: border-box;
  padding: 1.5rem 1rem;
  width: 68px;
  border: 1px solid #a9a9a9;
  line-height: normal;
  margin: 0;
  font-size: 100%;
  background-color: transparent;
}
section .section-border {
  position: absolute;
  top: calc(-1 * var(--previous-section-divider-offset, 0px));
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}
section .section-border .section-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}
section .section-border .section-background .shop-background {
  width: 100%;
  height: 100%;
  background-color: #edecea;
}
section .section-border .section-background .all-items-container {
  display: flex;
  transition-duration: 1700ms;
  transition-timing-function: ease-in-out;
  width: 100vw;
}
section .section-border .section-background .all-items-container .slider-item {
  object-fit: cover;
  width: 100vw;
  min-height: 66vh;
  opacity: 0.95;
  object-fit: cover;
  filter: contrast(70%) grayscale(100%);
}
section .content-wrapper {
  padding: 3vmax;
  z-index: 4;
  width: 100%;
  box-sizing: content-box;
  margin: 0 auto;
  display: flex;
}
section .content-wrapper .content {
  width: 100%;
}
section .content-wrapper .content .html-block {
  padding-left: 17px;
  padding-right: 17px;
}
section .content-wrapper .content .error-fied {
  background-color: #fed9db;
  color: #ce130c;
  padding: 5px 0px;
  text-align: center;
  opacity: 0.75;
  font-weight: bold;
}
section .content-wrapper .content .form-sended-wrapper {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: calc((var(--normal-text-size-value) - 1) * 1.2vw + 0.9rem);
}
section .content-wrapper .content .slider-content-wrapper {
  display: flex;
  flex-direction: column;
}
section .content-wrapper .content .slider-content-wrapper .remark {
  font-weight: 600;
  color: whitesmoke;
  display: flex;
  align-items: flex-end;
  text-shadow: 2vw 0 2vw black;
  width: 75%;
  min-height: 40vh;
}
section .content-wrapper .content .slider-content-wrapper .logout-wrapper {
  min-height: 10vh;
  text-align: end;
}
section .content-wrapper .content .newsletter-block {
  padding-top: 0px;
  padding-bottom: 17px;
}
section .content-wrapper .content .newsletter-block form {
  text-align: center;
}
section .content-wrapper .content .newsletter-block form .newsletter-header {
  width: 85%;
  margin: 0 auto;
}
section .content-wrapper .content .newsletter-block form .newsletter-header h2 {
  margin: 0 0 1rem 0;
  padding: 0;
  text-align: inherit;
}
section .content-wrapper .content .newsletter-block form .newsletter-header p {
  margin: 1rem 0;
  padding: 0;
}
section .content-wrapper .content .newsletter-block form .newsletter-form-body .newsletter-form-fields-wrapper {
  display: inline-block;
  width: auto;
  margin: 1rem 0 0 0;
}
section .content-wrapper .content .newsletter-block form .newsletter-form-body .newsletter-form-fields-wrapper .newsletter-form-field-wrapper {
  display: block;
  width: 100%;
  max-width: 18rem;
  padding: 0.5rem 0;
}
section .content-wrapper .content .newsletter-block form .newsletter-form-body .newsletter-form-fields-wrapper .newsletter-form-field-wrapper input {
  padding: 1.4rem 2rem;
  line-height: 1.2rem;
  font-size: calc((var(--normal-text-size-value) - 1) * 1.2vw + 0.8rem);
  border: 1px solid rgba(0, 0, 0, 0.12);
}
section .content-wrapper .content .newsletter-block form .newsletter-form-body .newsletter-button-wrapper {
  display: block;
  padding: 0.5rem 0;
  margin: 1rem 0 0 0;
}
section .content-wrapper .content .newsletter-block form .newsletter-form-body .sign-methods-wrapper {
  margin: 10px;
}
section .content-wrapper .content .newsletter-block form .newsletter-form-body .sign-methods-wrapper button {
  margin: 10px;
  background-color: transparent;
  border: none;
}
section .content-wrapper .content .newsletter-block form .newsletter-form-body .sign-methods-wrapper button:hover {
  transform: translateY(-10px);
  transition: 0.5s;
}
section .content-wrapper .content .lessons-block {
  padding-top: 17px;
  padding-bottom: 17px;
}
section .content-wrapper .content .lessons-block figure {
  display: flex;
  justify-content: space-between;
  margin: 0;
}
section .content-wrapper .content .lessons-block figure p {
  font-size: calc((var(--normal-text-size-value) - 1) * 1.2vw + 0.95rem);
}
section .content-wrapper .content .lessons-block figure .intr {
  min-width: 45%;
}
section .content-wrapper .content .lessons-block figure .intr .block-image {
  position: relative;
  max-width: initial;
}
section .content-wrapper .content .lessons-block figure .intr .block-image .image-container {
  position: relative;
  overflow: hidden;
}
section .content-wrapper .content .lessons-block figure .intr .block-image .image-container img {
  display: block;
  object-fit: contain;
  width: 100%;
  height: auto;
  position: static;
}
section .content-wrapper .content .lessons-block figure figcaption {
  margin-left: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}
section .content-wrapper .content .lessons-block figure figcaption .image-card-container {
  position: relative;
  width: 100%;
}
section .content-wrapper .content .lessons-block figure figcaption .image-card-container p {
  line-height: 1.5em;
}
section .content-wrapper .content .lessons-block .iframe-wrapper {
  padding-top: 3.3vmax;
  display: flex;
  justify-content: center;
  align-items: center;
}
section .content-wrapper .content .lessons-block .iframe-wrapper iframe {
  aspect-ratio: 16/9;
  width: 50vw;
}
section .content-wrapper .content .contact .contact-container {
  display: flex;
}
section .content-wrapper .content .contact .contact-container .left-side-contact {
  width: 50%;
}
section .content-wrapper .content .contact .contact-container .left-side-contact .block-content {
  width: 75%;
}
section .content-wrapper .content .contact .contact-container .left-side-contact .social-wrapper {
  display: flex;
}
section .content-wrapper .content .contact .contact-container .left-side-contact .social-wrapper a {
  display: flex;
  align-items: center;
  margin-right: 1.2vw;
}
section .content-wrapper .content .contact .contact-container .left-side-contact .social-wrapper a img {
  max-width: 36px;
}
section .content-wrapper .content .contact .contact-container .right-side-contact {
  width: 50%;
}
section .content-wrapper .content .contact .contact-container .right-side-contact .form-wrapper .field-list fieldset {
  padding: 0;
  border: 0;
  column-gap: 10px;
  display: flex;
  flex-direction: row;
}
section .content-wrapper .content .contact .contact-container .right-side-contact .form-wrapper .field-list fieldset .field-first-name {
  width: 50%;
}
section .content-wrapper .content .contact .contact-container .right-side-contact .form-wrapper .field-list fieldset .field-first-name label {
  opacity: 0.5;
}
section .content-wrapper .content .contact .contact-container .right-side-contact .form-wrapper .field-list fieldset .field-last-name {
  width: 50%;
}
section .content-wrapper .content .contact .contact-container .right-side-contact .form-wrapper .field-list fieldset .field-last-name label {
  opacity: 0.5;
}
section .content-wrapper .content .contact .contact-container .right-side-contact .form-wrapper .field-list .field-email {
  width: 100%;
}
section .content-wrapper .content .contact .contact-container .right-side-contact .form-wrapper .field-list .forspan {
  align-items: center;
  column-gap: 1ex;
  display: flex;
  flex-wrap: wrap;
}
section .content-wrapper .content .contact .contact-container .right-side-contact .form-wrapper .field-list legend {
  padding-bottom: 4px;
  padding-left: 0;
  font-size: calc((var(--normal-text-size-value) - 1) * 1.2vw + 1rem);
}
section .content-wrapper .content .contact .contact-container .right-side-contact .form-wrapper .field-list input,
section .content-wrapper .content .contact .contact-container .right-side-contact .form-wrapper .field-list textarea {
  background-color: #fafafa;
  border: 1px solid #a9a9a9;
  box-sizing: border-box;
  color: #000;
  position: relative;
  width: 100%;
  padding: 1.2rem 2rem;
  font-size: calc((var(--normal-text-size-value) - 1) * 1.2vw + 0.8rem);
}
section .content-wrapper .content .contact .contact-container .right-side-contact .form-wrapper .field-list textarea {
  min-height: 100px;
  resize: vertical;
}
section .content-wrapper .content .contact .contact-container .right-side-contact .form-wrapper .field-list .field {
  margin: 0 0 18px;
}
section .content-wrapper .content .contact .contact-container .right-side-contact .form-wrapper .field-list label {
  font-size: calc((var(--normal-text-size-value) - 1) * 1.2vw + 0.8rem);
}
section .content-wrapper .content .shop-content-wrapper {
  width: 100%;
}
section .content-wrapper .content .shop-content-wrapper h2 {
  text-align: center;
  font-size: calc((var(--normal-text-size-value) - 1) * 5vw + 2rem);
}
section .content-wrapper .content .shop-content-wrapper .product-flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;
}
section .content-wrapper .content .shop-content-wrapper .product-flex-container .list-grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-column-gap: 2vw;
  grid-row-gap: 2vw;
  padding: 0;
}
section .content-wrapper .content .shop-content-wrapper .product-flex-container .product .product-prise-name-wrapper {
  padding-bottom: 3vh;
}
section .content-wrapper .content .shop-content-wrapper .product-flex-container .product .product-prise-name-wrapper .product-name {
  font-weight: 600;
}
section .content-wrapper .content .shop-content-wrapper .product-flex-container .product .product-prise-name-wrapper .product-prise {
  font-size: calc((var(--normal-text-size-value) - 1) * 1vw + 0.6rem);
}
section .content-wrapper .content .shop-content-wrapper .product-flex-container .product a {
  text-decoration: none;
  color: #000;
}
section .content-wrapper .content .shop-content-wrapper .product-flex-container .product .product-image-wrapper {
  width: 100%;
  position: relative;
  overflow: hidden;
  margin: 0;
  line-height: 0;
}
section .content-wrapper .content .shop-content-wrapper .product-flex-container .product .product-image-wrapper img {
  width: 100%;
  background-color: white;
  aspect-ratio: 16/9;
  object-fit: cover;
  background-color: transparent;
}
section .content-wrapper .content .shop-content-wrapper .nested-category-children {
  padding-bottom: 54px;
  padding-top: 54px;
  padding-left: 0;
  margin-bottom: 37px;
  margin-top: 0;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
  position: relative;
  justify-content: center;
}
section .content-wrapper .content .shop-content-wrapper .nested-category-children li {
  display: flex;
  text-align: center;
  padding: 5px 0px;
}
section .content-wrapper .content .shop-content-wrapper .nested-category-children li a {
  margin: 0 1.5vw;
  text-decoration: none;
  cursor: pointer;
  color: #000;
}
section .content-wrapper .content .shop-content-wrapper .nested-category-children li span {
  opacity: 0.2;
}
section .content-wrapper .content .shop-content-wrapper .nested-category-children::after {
  content: "";
  opacity: 0.2;
  border-bottom: 1px solid;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

@media screen and (max-width: 620px) {
  .super-cart-container .cart-container .cart-row {
    padding: 11px 0;
  }
  .super-cart-container .cart-container .cart-row .image-wrapper {
    width: 22%;
    min-width: 70px;
  }
  .super-cart-container .cart-container .cart-row .image-wrapper img {
    width: 100%;
    aspect-ratio: 1/1;
  }
  .super-cart-container .cart-container .cart-row .product-info-wrapper {
    display: flex;
    flex-direction: column;
    width: 45%;
    justify-content: space-around;
  }
  .super-cart-container .cart-container .cart-row .product-info-wrapper .product-name-size-wrapper {
    width: 100%;
  }
  .super-cart-container .cart-container .cart-row .product-info-wrapper .product-quantity-container {
    width: 100%;
    justify-content: flex-start;
  }
  .super-cart-container .cart-container .cart-row .product-price-wrapper {
    width: 20%;
  }
}
@media screen and (max-width: 768px) {
  section .product-item-summary {
    display: block;
  }
  section .product-item-summary .product-item-gallery {
    width: 100%;
  }
  section .content-wrapper .content .lessons-block .iframe-wrapper iframe {
    width: 75vw;
  }
  section .content-wrapper .content .lessons-block figure {
    display: block;
  }
  section .content-wrapper .content .lessons-block figure figcaption {
    margin-left: 0;
    margin-top: 10%;
  }
  section .content-wrapper .content .contact .contact-container {
    display: block;
  }
  section .content-wrapper .content .contact .contact-container .left-side-contact {
    width: 100%;
  }
  section .content-wrapper .content .contact .contact-container .left-side-contact .block-content {
    width: 100%;
  }
  section .content-wrapper .content .contact .contact-container .right-side-contact {
    width: 100%;
    margin-top: 5vh;
  }
  section .content-wrapper .content .shop-content-wrapper .product-flex-container .list-grid {
    display: block;
  }
}

/*# sourceMappingURL=newMain.css.map */
